<div class="h-max w-max py-2 px-5">
    <mat-card class="">
        <mat-card-header>
            <mat-card-title>
                <button mat-stroked-button mwlCalendarToday [(viewDate)]="viewDate">Today</button>
                <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
            </mat-card-title>

            <mat-card-subtitle>
                <button mat-button (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month">Month</button>
                <button mat-button (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week">Week</button>
                <button mat-button (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day">Day</button>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                    [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                    [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-day-view>
            </div>
        </mat-card-content>
    </mat-card>
</div>