<div class="h-max w-max flex-row pt-3 px-5">
    <div class="flex-1"></div>
    <mat-card class="card center-vertical">
        <h2 class="center mb-3">Entrar</h2>
        <form [formGroup]="userLogin" (ngSubmit)="login(userLogin)">
            <mat-card-content>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username" maxlength="32" required>
                    <mat-error *ngIf="userLogin.controls['username']?.invalid">
                        {{ getErrorMessage(userLogin,'username') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hide.login ? 'password' : 'text'" formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide.login = !hide.login" type="button">
                        <mat-icon>{{hide.login ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userLogin.controls['password']?.invalid">
                        {{ getErrorMessage(userLogin,'password') }}
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
                <button class="w-100 mb-2" mat-raised-button color="primary" type="submit">Entrar</button>
            </mat-card-actions>
        </form>
    </mat-card>
    <div class="flex-1"></div>
    <mat-card class="card center-vertical">
        <h2 class="center mb-3">Cadastre-se</h2>
        <form [formGroup]="signUp" (ngSubmit)="register(signUp)">
            <mat-card-content>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username" maxlength="32" required>
                    <mat-error *ngIf="signUp.controls['username']?.invalid">
                        {{ getErrorMessage(signUp,'username') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" required>
                    <mat-error *ngIf="signUp.controls['email']?.invalid">
                        {{ getErrorMessage(signUp,'email') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hide.password ? 'password' : 'text'" formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide.password = !hide.password" type="button">
                        <mat-icon>{{hide.password ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signUp.controls['password']?.invalid">
                        {{ getErrorMessage(signUp,'password') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Confirmar Senha</mat-label>
                    <input matInput [type]="hide.confirm ? 'password' : 'text'" formControlName="confirmPassword"
                        required>
                    <button mat-icon-button matSuffix (click)="hide.confirm = !hide.confirm" type="button">
                        <mat-icon>{{hide.confirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signUp.controls['confirmPassword']?.invalid">
                        {{ getErrorMessage(signUp,'confirmPassword') }}
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
                <button class="w-100 mb-2" mat-raised-button color="primary" type="submit">CADASTRAR</button>
            </mat-card-actions>
        </form>
    </mat-card>
    <div class="flex-1"></div>
</div>